{{> header}}
<div id="menu">
  {{{button id="search" target="search" text="Hitta Fiskevatten" id="find_fish" ontouchend="Search.go()"}}}
  {{#if user}}
  <div id="logged-in">
    {{{button id="my_cards" target="my_cards" text="Mina Fiskekort"}}}
    {{{button id="register_catch" target="register_catch" text="Registrera Fångst"}}}
    {{{button id="logout" ontouchend="USER.logout()" text="Logga ut"}}}
  </div>
  {{else}}
  <div class="not-logged-in">
    {{{button id="login" target="login" text="Logga in"}}}
    {{{button id="register" target="register_user" text="Registrera"}}}
  </div>
  {{/if}}
  <button id="info" onclick="Navigate.popup('about');"></button>
</div>

<div id="footer">
    {{#if user}}
        Inloggad som {{user}}
    {{else}}
        Ingen användare inloggad
    {{/if}}
</div>

