{{> header}}
<div id="menu">
  {{{button text="Hitta Fiskevatten" id="find_fish" ontouchend="Search.go()"}}}
  {{#if user}}
  <div id="logged-in">
    {{{button id="my_cards" target="my_cards" text="Mina Fiskekort"}}}
    {{{button id="register_catch" target="register_catch" text="Registrera Fångst"}}}
  </div>
  {{else}}
  <div class="not-logged-in">
    {{{button id="login" target="login" text="Logga in"}}}
    {{{button id="register" target="register_user" text="Registrera"}}}
  </div>
  {{/if}}
  <button id="info" onclick="Navigate.popup('about');"></button>
</div>

<div id="footer">
    {{#if user}}
        Inloggad som {{user}}
    {{else}}
        Ingen användare inloggad
    {{/if}}
    <a href="window.open('fb://profile/215728895115467', '_system';)" onclick="try_open_fb();"">
      <button class="img" id="facebook" />
    </a>
    <button class="img" id="settings" ontouchend="Navigate.to('settings');"/>
</div>

