{{> header}}
<div id="menu">
	{{{button target="search" text="Hitta Fiskevatten" id="find_fish"}}}
	<div class="not-logged-in">
		{{{button target="login" text="Logga in"}}}
		{{{button target="register_user" text="Registrera"}}}
	</div>
	<div id="logged-in">
		{{{button target="my_cards" text="Mina Fiskekort"}}}
		{{{button target="register_catch" text="Registrera Fångst"}}}
	</div>
</div>